# Reference: https://docs.fief.dev/self-hosting/environment-variables/

ENVIRONMENT="development"
SECRET="2OIwgCuejBcwwnw551-1cDiSfIdQ_K7DhoAn9VarkzKpvl7R4s8EWDrdvh-HhV81ep_o1kesRBxxzr8fOQqfSQ"
FIEF_CLIENT_ID="O3vB24F8AVogxzHZKcxJlR11hLJjf1KH07eZllAMkak"
FIEF_CLIENT_SECRET="yNnYI_c6gdjF77Cmqij3b_lA2QIWhyX_q745NkWqonU"
ENCRYPTION_KEY="DFs3uAbDw4Vsuxt1r5zkxQA0M-RmMMcyvghjx-8SD-w="
PORT=9000
ROOT_DOMAIN=localhost:9000
FIEF_DOMAIN=localhost:9000
FIEF_MAIN_USER_EMAIL="admin@chemvault.com"
FIEF_MAIN_USER_PASSWORD="ChemVaultAdmin"
CSRF_COOKIE_SECURE=False
LOGIN_SESSION_COOKIE_SECURE=False
SESSION_COOKIE_SECURE=False
FIEF_ADMIN_SESSION_COOKIE_SECURE=False
TELEMETRY_ENABLED=False

# Read more: https://docs.fief.dev/self-hosting/deployment/setup-database/
DATABASE_TYPE=POSTGRESQL
DATABASE_HOST=postgres
DATABASE_PORT=5432
DATABASE_USERNAME=fief
DATABASE_PASSWORD=fief
DATABASE_NAME=fief

REDIS_URL=redis://redis:6379