# Keycloak environment variables
KEYCLOAK_USER=admin
KEYCLOAK_PASSWORD=admin
KEYCLOAK_DB_VENDOR=POSTGRES
KEYCLOAK_DB_ADDR=postgres
KEYCLOAK_DB_PORT=5432
KEYCLOAK_DB_DATABASE=keycloak
KEYCLOAK_DB_USER=keycloak
KEYCLOAK_DB_PASSWORD=keycloak
